{% extends 'base.html' %}


{% block content %}

    {% if booking_day and  booking_hour and not booking %}
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <form action="/booking/{{ teacher.slug }}" method="POST" class="card mb-3">
                    {{ form.csrf_token }}
                    <div class="card-body text-center pt-5">
                        <img src="{{ teacher.picture|default(image_default) }}" class="mb-3" width="95" alt="">
                        <h5 class="card-title mt-2 mb-2">{{ teacher.name }}</h5>
                        <p class="my-1">Запись на пробный урок</p>
                        <p class="my-1">{{ day_of_week[booking_day] }}, {{ booking_hour }} </p>
                    </div>

                    <hr/>

                    <div class="card-body mx-3">
                        <p class="mb-1 mt-2">Вас зовут</p>
                        {{ form.username(class="form-control", type="text", placeholder="Напишите свое имя") }}

                        <p class="mb-1 mt-2">Ваш телефон</p>

                        {{ form.phone(class="form-control", type="tel", placeholder="Введите номер телефона") }}

                        {{ form.booking_time(value=booking_hour) }}
                        {{ form.booking_day(value=booking_day) }}

                        {{ form.booking_day(value="Записаться на пробный урок", type="submit", class="btn btn-primary btn-block mt-4") }}
                    </div>


                </form>
            </div>
        </div>

    {% elif booking %}
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <div class="card-body text-center pt-5">
                    <img src="{{ teacher.picture|default(image_default) }}" class="mb-3" width="95" alt="">
                    <h5 class="card-title mt-2 mb-2">{{ teacher.name }}</h5>
                    <p class="my-1">Уважаемый {{ form.username.data }}, ваша заявка принята.</p>
                    <p class="my-1">Желаемое
                        время: {{ day_of_week[form.booking_day.data] }}, {{ form.booking_time.data }} -
                        забронировано </p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <div class="card-body text-center pt-5">
                    <img src="{{ teacher.picture|default(image_default) }}" class="mb-3" width="95" alt="">
                    <h5 class="card-title mt-2 mb-2">{{ teacher.name }}</h5>
                    <p class="my-1">Здравствуйте! Вы не выбрали время и день!</p>
                    <p class="my-1">Перейдите на страницу <a href="/profile/{{ teacher.slug }}">репетитора</a></p>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock content %}